<body>
<div class="b_blank"></div>
<div class="container">
    <div class="panel panel-primary" >
        <div class="panel-heading text-center">
            <div><h1>西洋棋對戰</h1></div></div>
        <div class="panel-body text-center">
            <img src="assets/chess.jpg">
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col">
                <button (click)="createGame()">新建遊戲</button></div>
            </div>
            <div class="row text-center">
            <div class="col">
                <button (click)=joinGame()>加入遊戲</button>
            </div></div>
        </div>
    </div>
</div>

</body>
